#About {
  .banner-board {
    height: 25rem;
    background: url('/static/images/about-banner.jpg');
    background-size: 100% 25rem;
    background-repeat: no-repeat;
  }
  .introduce-back-img {
    background-image: url('/static/images/about-introduce-back-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .introduce-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // 行内版心
    .introduce-top {
      align-items: center;
      .img-box {
        display: flex;
        width: 100%;
        height: 25rem;
        flex-direction: row;
        justify-content: space-between;
        img {
          width: 48%;
        }
      }
    }
    .introduce-middle {
      align-items: flex-start;
      .img-box {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        img {
          width: 32%;
        }
      }
    }
    .introduce-bottom {
      align-items: flex-start;
      flex-direction: row !important;
      .introduce-bag {
        width: 50%;
        margin-right: 2rem;
      }
      .img-box {
        width: 50% !important;
        img {
          width: 100%;
        }
      }
    }
    .introduce-main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 75%;
      padding: 5rem 0;
      font-size: 1rem;
      .text-left {
        text-align: left;
      }
      p {
        text-align: center;
        line-height: 2.5rem;
        color: #777777;
        padding-bottom: 2.5rem;
      }
      title {
        display: block;
        padding-bottom: 2rem;
        font-size: 2rem;
        color: #444444;
      }
    }
  }
}
