#NewsMessage {
  .banner {
    height: 30rem;
    background: url('/static/images/service-banner.jpg');
  }
  .news {
    width: 100%;
    margin-bottom: 10rem;
    .news-top {
      width: 90rem;
      margin: 0 auto;
      .message {
        width: 100%;
        height: 5rem;
        line-height: 5rem;
        font-size: 1.5rem;
      }
      .newsDate {
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(202, 200, 200);
        color: #999;
      }
      p {
        margin: 2rem 0;
      }
    }
  }
}
