#Home {
    text-align: center;
    background-color: #242430;

    .banner {
        height: 34.3125rem;
        background-image: url('/static/images/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

        .banner-btn {
            width: 9.1037rem;
            height: 2.5rem;
            margin: 20.3075rem auto 0;
            cursor: pointer;
        }
    }

    .fullmeasureOuterContent {
        width: 75.5rem;
        height: 23.5rem;
        margin: -7.5rem auto 0;
        z-index: 2;
        position: relative;

        .title {
            width: 75.5rem;
            height: 5.6875rem;
            line-height: 5.6875rem;
            background: #1B1B2B;
            color: #fff;
            font-weight: semibold;
            font-size: 1.75rem;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;

            .fullmeasureOuter-item {
                width: 24.8%;
                height: 17.25rem;
                padding-top: 2.0625rem;
                position: relative;

                img {
                    width: 1.875rem;
                    height: 1.875rem;
                }

                .item-title {
                    color: #303133;
                    font-weight: semibold;
                    font-size: 1.25rem;
                    margin-top: .75rem;
                }

                .item-text {
                    width: 12.8125rem;
                    color: #606266;
                    font-weight: regular;
                    font-size: .75rem;
                    margin: .875rem auto 0;
                }

                &:after {
                    content: ' ';
                    display: block;
                    width: 1px;
                    height: 9.6875rem;
                    position: absolute;
                    top: 5rem;
                    right: 0;
                    background: #000000;
                    transform: rotate(15deg);
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .community {
        width: 100%;
        height: 23.6875rem;
        background-color: #fff;
        background-image: url('/static/images/decorative.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -11.5rem;
        z-index: 1;
        position: static;

        .community-title {
            width: 20rem;
            height: 1.875rem;
            color: #242430;
            font-weight: bold;
            font-size: 2.25rem;
            padding-top: 12.25rem;
            position: relative;
            margin: 0 auto;

            &:before {
                content: '';
                display: block;
                width: 1.3062rem;
                height: 1.5rem;
                background-repeat: no-repeat;
                background-size: 1rem 1.1rem;
                background-image: url('/static/images/site.png');
                position: absolute;
                top: 13.48rem;
                left: 0;
            }

            &:after {
                content: '';
                display: block;
                width: 1.3062rem;
                height: 1.5rem;
                background-repeat: no-repeat;
                background-size: 1rem 1.1rem;
                background-image: url('/static/images/site.png');
                position: absolute;
                top: 13.2rem;
                right: 0;
                transform: rotate(180deg);
            }
        }

        .community-brand {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5.37rem 4.425rem 0;

            img {
                width: 7.25rem;
                height: 3.0625rem;
            }
        }
    }
}